.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: auto;
}

#grid-item5 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
    padding: 15px;
}

.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

#grid-item4 {
    transform: rotate(45deg)
}

body {
    background: linear-gradient(white, purple);
}