header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

myHero {
    display: block;
    background-color: gray;
    padding: 50px;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}